/* Remove the bottom border from the last substep */
.slds-progress__list li:last-child .slds-progress__item_content {
    border-bottom: none;
}

:host {
    --slds-g-color-success-base-50: #3A5C3B;
    --slds-g-color-brand-base-50: #3A5C3B;

}

.slds-progress__item.slds-is-active .slds-progress__marker {
    --slds-g-color-brand-base-50: #0176d3;

}